body {
  font-family: "Otomanopee One", sans-serif;
  margin: 0%;
}
.name-color {
  color: rgb(252, 29, 215);
}
h1 {
  font-size: 65px;
  text-align: justify;
}
h2 {
  margin: 50px;
  font-size: 40px;
}
.flex-container {
  display: flex;
  margin-bottom: 100px;
}
.down-text {
  text-align: justify;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width h1 {
  margin: 50px;
}
.half-width p {
  margin: 50px;
}
.us-button {
  margin: 50px;
}
.about-us {
  background-image: url(images/Frame\ 59.jpg);
  background-repeat: no-repeat;
}
.backham-img {
  width: 30%;
}
.half-width img {
  width: 80%;
}
.color-button {
  text-decoration: none;
  background-image: linear-gradient(rgb(253, 0, 253), rgb(247, 123, 230));
  padding: 10px 40px;
  color: white;
  border-radius: 5px;
}
.new-area {
  text-align: center;
  margin: 100px;
}
.pic-item {
  width: 50%;
  margin-left: 120px;
  margin-right: 120px;
  border-radius: 5%;
}

#food-part {
  box-shadow: 10px 15px 50px gray;
  width: 50%;
  margin-left: 50px;
  margin-right: 50px;
  padding: 25px;
  border-radius: 30px;
}
.new-part {
  box-shadow: 10px 15px 50px gray;
  margin-left: 120px;
  border-radius: 40px;
  margin-right: 120px;
  text-align: center;
}
.end-item {
  text-align: center;
  background-color: black;
}
.end-item h2 {
  color: white;
}
.end-item p {
  color: white;
}
footer {
  color: white;
}
